<div class="soundboard-template">
  <div class="heading">
    <div class="row">
      <div class="col-xs-6 col-sm-6 left">
        <h2>Soundboard {{id}}</h2>
      </div>
      <div class="col-xs-6 col-sm-6 right">
        <a class="btn btn-primary btn-lg" {{action 'addTrack'}}>Add a New Track</a>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Hubspot Action</th>
        <th>Sound Bite</th>
        <th>Plays</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each track in tracks itemController="track"}}
      <tr>
        <td>{{track.name}}</td>
        <td>
          {{#if hasSoundbite}}
            <div class="btn btn-default" {{action 'preview'}}><span class="glyphicon glyphicon-volume-up"></span> Preview</div>
          {{else}}
            {{file-upload 
              action="didUploadFile"
              trackId=track.id
            }}
          {{/if}}
        </td>
        <td>{{track.playCount}} plays</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Actions <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Setup Webhook</a></li>
              <li class="divider"></li>
              <li><a href="#" {{action 'deleteTrack'}}>Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
